APP_NAME=WorkSphere ERP
APP_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=worksphere_db
DB_USER=postgres
DB_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256